---
import BaseLayout from "../layouts/BaseLayout.astro";
import Logo from "../components/Logo.astro";
---

<BaseLayout title="关于 | Ronnie" description="网站版权联系说明。">
  <section class="about-page">
    <Logo size="lg" showText={false} class="about-brand-mark" />
    <div class="copyright-notice">
      <p>如果这里的文章侵犯到您的版权，</p>
      <p>
        请发送 e-mail 至<br />
        <a href="mailto:soueitetsu@yahoo.co.jp">soueitetsu@yahoo.co.jp</a>，
      </p>
      <p>我会尽快删除文章。</p>
      <p>谢谢，以马内利。</p>
    </div>
    <p class="visit-counter" data-visit-counter>
      本站累计访问量：<span data-site-visits>统计中…</span>
    </p>
  </section>
</BaseLayout>
